In [1]:
#write a Python program which accepts the radius of a circle from the user and compute the area

In [2]:
Radius=int(input('radius of the circle:'))
Area=3.14*(Radius**2)
print('Area of the circle=',Area)

radius of the circle:3
Area of the circle= 28.26

In [9]:
#Write a Python Program to accept the details of a student like name, rollnumber and mark and display it.

In [11]:
name=input('Enter your name:')
rollno=int(input('Enter your Roll no:'))
mark=float(input('Enter your Mark:'))
print('Name:',name)
print('Roll no:',rollno)
print('Mark:',mark)

Enter your name:Anisha
Enter your Roll no:21
Enter your Mark:78
Name: Anisha
Roll no: 21
Mark: 78.0

In [13]:
#Write a Python program to get the largest number from a list. Sample input: 12, 3, 47, 10 Sample output: 47 is the largest number.

In [14]:
x=[12,3,47,10]
x.sort()
print('The largest no is:',x[-1])

The largest no is: 47

In [19]:
#. Given a range of first 10 numbers, write a Python program to iterate from 'start number to the end number and print the sum of the current numberand previous number.Sample input: 1,2,3,4,5,6,7,8,9,10Sample output: Current Number 1 Previous Number 0 Sum: 1 CurrentNumber 2 Previous Number 1 Sum: 3 Current Number 3 PreviousNumber 2 Sum: 5 Current Number 10 Previous Number 9 Sum: 19

In [37]:
for i in range(1,11):
 sum=i+(i-1)
 print("current number",i,"previous number",i-1,sum)

current number 1 previous number 0 1
current number 2 previous number 1 3
current number 3 previous number 2 5
current number 4 previous number 3 7
current number 5 previous number 4 9
current number 6 previous number 5 11
current number 7 previous number 6 13
current number 8 previous number 7 15
current number 9 previous number 8 17
current number 10 previous number 9 19

In [39]:
#Write a Python program to print only those numbers which are divisibleof 5. Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [49]:
n=[10,20,33,46,55]
for i in n:
 if i%5==0:
  print(i)

10
20
55

In [50]:
#Write a Python program to check whether a number is prime or not. Sample input: Enter the number: 3 Sample output: 3 is a prime number

In [54]:
n=int(input('Enter the number:'))
flag=False
if n==1:
  print(n,"is not a prime number")
elif n>1:
    for i in range(2,n):
      if (n%i)==0:
        flag=True
        break
        if flag:
          print(n,"is not a prime number")
      else:
            print(n,"is a prime number")

Enter the number:3
3 is a prime number

In [55]:
#Write a Python program to reverse a list using for loop. Sample input: 10,40,30,70 Sample output: 70,30,40,10

In [68]:
y=[]
x=[10,40,30,70]
for i in range(len(x)-1,-1,-1):
  y.append(x[i])
print(y)

[70, 30, 40, 10]

In [70]:
#Write a Python program to print the following pattern.
*
**
***
****

In [71]:
for i in range(4):
  print("*"*(i+1))

*
**
***
****

In [ ]:
#Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [72]:
x=(34,12,7)
m=max(x)
print(m)

34

In [ ]:
#Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [78]:
n=5
for i in range(n):
  print("*"*(i+1))
for i in range(n,-1,-1):
  print("*"*(i+1))

*
**
***
****
*****
******
*****
****
***
**
*